<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpledblp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.simpledblp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.simpledblp.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.simpledblp.SearchableActivity"
            android:label="@string/search_activity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/searchable"
                android:value="com.example.simpledblp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.simpledblp.TestActivity2"
            android:label="@string/title_activity_test_activity2"
            android:parentActivityName="com.example.simpledblp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.simpledblp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.simpledblp.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.example.simpledblp.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.example.simpledblp.SearchpageActivity"
            android:label="@string/title_activity_searchpage" >
            <meta-data
                android:name="android.app.SearchableActivity"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.simpledblp.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.example.simpledblp.BookmarksActivity"
            android:label="@string/title_activity_bookmarks" >
        </activity>
        <activity
            android:name="com.example.simpledblp.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
    </application>

</manifest>
